.global-theme {
  --neutral-100: #fff;
  --neutral-200: #F6F7FA;
  --neutral-300: #EDEFF4;
  --neutral-400: #BEC0C5;
  --neutral-500: #9B9EA6;
  --neutral-600: #6B7388;
  --primary-100: #EEF3FF;
  --primary-200: #497AF6;
  --secondary-100: #EFECFF;
  --secondary-200: #6B58E2;
  --success-100: #E5F6EF;
  --success-200: #30AD78;
  --warning-100: #FFF3E8;
  --warning-200: #FE9D43;
  --error-100: #FFECED;
  --error-200: #E14952;
  --text-100: #2D2D2F;
  --text-200: #414348;
  --text-300: #61636A;
  --text-400: #9599A1;
  --input: 10;
  --pretendard: Pretendard;
  --font-weight-100: Medium;
  --font-weight-200: Semibold;
  --font-weight-300: Bold;
  --letter-spacing-base: -0.5px;
  --letter-spacing-number: 0;
  --popup-dim: 0.7;
  --shadow-nomal: [object Object],[object Object];
  --line-height-100: 100%;
  --line-height-200: 130%;
  --line-height-300: 150%;
  --sm: 1;
  --m: 2;
  --font-size-title-lg: 28;
  --font-size-title-md: 22;
  --font-size-title-sm: 20;
  --font-size-title-xsm: 18;
  --font-size-text-lg: 16;
  --font-size-text-md: 14;
  --font-size-text-sm: 12;
  --font-size-text-xsm: 11;
  --font-size-button-lg: 16;
  --type-title-lg: [object Object];
  --type-title-md: [object Object];
  --type-title-sm: [object Object];
  --type-title-xsm: [object Object];
  --type-sub-title-lg: [object Object];
  --type-sub-title-md: [object Object];
  --type-sub-title-sm: [object Object];
  --type-text-lg: [object Object];
  --type-text-md: [object Object];
  --type-text-sm: [object Object];
  --type-text-xsm: [object Object];
  --type-amount-lg: [object Object];
  --type-amount-md: [object Object];
}